._2n28r /*media preview in gallery*/,
.TZVqr /*media preview in send media*/
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

._2n28r:hover /*media preview in gallery*/,
.TZVqr:hover /*media preview in send media*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
