.tukmaf4q /*media preview in gallery*/,
._1Pr6q /*media preview in send media*/
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.tukmaf4q:hover /*media preview in gallery*/,
._1Pr6q:hover /*media preview in send media*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
