._2ggGe /*image preview*/,
.QnPmY * /*gif preview*/,
._2MrqQ /*video preview*/,
.Y2pgK /*media reply thumb*/,
._3Lgvh /*yt link reply thumb*/,
._1cbSY /*image send preview*/,
._1kOOx /*file preview*/,
._1OOH5 /*link preview*/
{
  filter: blur(20px) grayscale(1);
  transition-delay: 0s;
}
._2ggGe:hover /*image preview*/,
.QnPmY:hover * /*gif preview*/,
._2nJ1e:hover ._2MrqQ /*video preview*/,
.Y2pgK:hover /*media reply thumb*/,
._3Lgvh:hover /*yt link reply thumb*/,
._1cbSY:hover /*image send preview*/,
._1kOOx:hover /*file preview*/,
._1OOH5:hover /*link preview*/
{
  filter: blur(0) grayscale(0);
  -webkit-transition: -webkit-filter .16s linear;
  transition-delay: 0.3s;
}
