._3Tw1q /*List user/group name*/,
.YEe1t /*Top user/group name*/,
._2Gdma /*Top group user preview*/,
._3ZYWe /*Details username*/,
._3rGLp /*Details username ~nickname*/,
._3Tiru /*Starred messages username*/,
._21Cgd /*Details group name*/,
.SMGPj ._1hI5g /*About user*/,
.selectable-text ._3Tk1z /*About user phone number*//*,
._19038 *//*Message in chat*/
{
  filter: blur(5px) grayscale(1);
  transition-delay: 0s;
}

._3Tw1q:hover /*List user/group name*/,
.YEe1t:hover /*Top user/group name*/,
._2Gdma:hover /*Top group user preview*/,
._3ZYWe:hover /*Details username*/,
._3rGLp:hover /*Details username ~nickname*/,
._3Tiru:hover /*Starred messages username*/,
._21Cgd:hover /*Details group name*/,
.SMGPj ._1hI5g:hover /*About user*/,
.selectable-text ._3Tk1z:hover /*About user phone number*//*,
._19038:hover *//*Message in chat*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
