._21S-L /*List user/group name*/,
._21nHd /*Top user/group name*/,
.pm5hny62 /*Top group user preview*/,
.qfejxiq4 /*Details username*/,
.cw3vfol9 /*Details username */,
._1ux8Y /*Details username ~nickname*/,
._2l_N5 /*Starred messages username*/,
.selectable-text ._10kwi /*About user phone number*/,
._3IzYj._1yJoL /*Message in chat*/,
.enbbiyaj /*Name when status is open*/,
._3FuDI /*Name in replied messages*/
{
  filter: blur(5px) grayscale(1);
  transition-delay: 0s;
}

._21S-L:hover /*List user/group name*/,
._21nHd:hover /*Top user/group name*/,
.pm5hny62:hover /*Top group user preview*/,
.qfejxiq4:hover /*Details username*/,
.cw3vfol9:hover /*Details username */,
._1ux8Y:hover /*Details username ~nickname*/,
._2l_N5:hover /*Starred messages username*/,
.selectable-text ._10kwi:hover /*About user phone number*/,
._3IzYj._1yJoL:hover /*Message in chat*/,
.enbbiyaj:hover /*Name when status is open*/,
._3FuDI:hover /*Name in replied messages*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
