.zoWT4 /*List user/group name*/,
._21nHd /*Top user/group name*/,
.zzgSd /*Top group user preview*/,
._3WYXy /*Details username*/,
._1ux8Y /*Details username ~nickname*/,
._2PElp /*Starred messages username*/,
.czcZD /*Details group name*/,
.selectable-text ._3NUK1 /*About user phone number*//*,
._19038 *//*Message in chat*/,
._1D6fx /*Reply with sticker username*/,
.a71At /*Reply with sticker the quoted message username*/
{
  filter: blur(5px) grayscale(1);
  transition-delay: 0s;
}

.zoWT4:hover /*List user/group name*/,
._21nHd:hover /*Top user/group name*/,
.zzgSd:hover /*Top group user preview*/,
._3WYXy:hover /*Details username*/,
._1ux8Y:hover /*Details username ~nickname*/,
._2PElp:hover /*Starred messages username*/,
.czcZD:hover /*Details group name*/,
.selectable-text ._3NUK1:hover /*About user phone number*//*,
._19038:hover *//*Message in chat*/,
._1D6fx:hover /*Reply with sticker username*/,
.a71At:hover /*Reply with sticker the quoted message username*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
