/* mediaGallery */
.i-d_o:hover /*media preview in gallery*/,
.aaQbT:hover /*media preview in send media*/,

/* mediaPreview */
._2p30Q:hover /*image preview*/,
._2I8rV:hover * /*gif preview*/,
.hS6U_:hover ._17Nt7 /*video preview*/,
._3e0Yi:hover /*media reply thumb*/,
._2wzt8:hover /*yt link reply thumb*/,
._2ycmW:hover /*image send preview*/,
._1VkQG:hover /*file preview*/,
.u4d-M:hover /*link preview*/,
._3wSPP:hover /*sticker preview*/,

/* messages */
._1bR5a:hover /*normal message*/,
._2wvOi:hover /*Gallery link preview*/,
._1grL7:hover /*blue info bar*/,
._2Ro1i:hover /*image*/,
._16D7a:hover /*video*/,
._3KIS4:hover /*file*/,
._1RXxK:hover /*voice message*/,
._12-qh:hover /*position*/,
._24mt0:hover /*contact share*/,
._18kCM:hover /*multiple contact share*/,
._2kMYF:hover /*GIF*/,
._3wSPP:hover /*Sticker*/,

/* messagesPreview */
._2vfYK:hover /*message preview*/,

/* name */
._3Dr46:hover /*List user/group name*/,
._2KQyF:hover /*Top user/group name*/,
.YmixP:hover /*Top group user preview*/,
.qpqWq:hover /*Details username*/,
.ekBrd:hover /*Details username ~nickname*/,
._1gbaa:hover /*Starred messages username*/,
.YOG23:hover /*Details group name*/,
.selectable-text ._1Kn3o:hover /*About user phone number*//*,
._19038:hover *//*Message in chat*/,

/* profilePic */
.-y4n1:hover /*profile pic*/,
._2gXlr:hover /*Details profile pic*/
{
  transition-delay: 0.04s !important;
  -webkit-transition-duration: 0s !important;
  -moz-transition-duration: 0s !important;
  -o-transition-duration: 0s !important;
  transition-duration: 0s !important;
}
