._3g4Pn /*profile pic*/
{
  filter: blur(7px) grayscale(1);
  transition-delay: 0s;
}
._3yg5l /*Details group/self profile pic*/
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

._3g4Pn:hover /*profile pic*/,
._3yg5l:hover /*Details group/self profile pic*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
