/* mediaGallery */
body:hover .i-d_o /*media preview in gallery*/,
body:hover .aaQbT /*media preview in send media*/,

/* mediaPreview */
body:hover ._2p30Q /*image preview*/,
body:hover ._2I8rV * /*gif preview*/,
body:hover .hS6U_ ._17Nt7 /*video preview*/,
body:hover ._3e0Yi /*media reply thumb*/,
body:hover ._2wzt8 /*yt link reply thumb*/,
body:hover ._2ycmW /*image send preview*/,
body:hover ._1VkQG /*file preview*/,
body:hover .u4d-M /*link preview*/,

/* messages */
body:hover ._1bR5a /*normal message*/,
body:hover ._2wvOi /*Gallery link preview*/,
body:hover ._1grL7 /*blue info bar*/,
body:hover ._2Ro1i /*image*/,
body:hover ._16D7a /*video*/,
body:hover ._3KIS4 /*file*/,
body:hover ._1RXxK /*voice message*/,
body:hover ._12-qh /*position*/,
body:hover ._24mt0 /*contact share*/,
body:hover ._18kCM /*multiple contact share*/,
body:hover ._2kMYF /*GIF*/,
body:hover ._3wSPP /*Sticker*/,

/* messagesPreview */
body:hover ._2vfYK /*message preview*/,

/* name */
body:hover ._3Dr46 /*List user/group name*/,
body:hover ._2KQyF /*Top user/group name*/,
body:hover .YmixP /*Top group user preview*/,
body:hover .qpqWq /*Details username*/,
body:hover .ekBrd /*Details username ~nickname*/,
body:hover ._1gbaa /*Starred messages username*/,
body:hover .YOG23 /*Details group name*/,
body:hover .selectable-text ._1Kn3o /*About user phone number*//*,
body:hover ._19038 *//*Message in chat*/,

/* profilePic */
body:hover .-y4n1 /*profile pic*/,
body:hover ._2gXlr /*Details profile pic*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0s;
}

/* textInput */
body:hover ._2_1wd /*textarea*/
{
  color: #4A4A4A !important;
}
