.-N6Gq  /*normal message*/,
._1jnqn /*Gallery link preview*/,
._1_8_q /*blue info bar*/
{
  filter: blur(8px) grayscale(1);
  transition-delay: 0s;
}
.-N6Gq  /*normal message more padding*/
{
  padding-right: 40px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.EopGb::after /*same width as before*/
{
  margin-right: 49px !important;
}

.tW-YU /*image*/,
.ziVVa /*video*/,
._2dV8O /*file*/,
._2Zgm- /*voice message*/,
._15Rkh /*position*/,
._2qE0x /*contact share*/,
._2iEEP /*GIF*/,
.Eu2_h /*Sticker*/
{
  filter: blur(20px) grayscale(1);
  transition-delay: 0s;
}

.-N6Gq:hover /*normal message*/,
._1jnqn:hover /*Gallery link preview*/,
._1_8_q:hover /*blue info bar*/,
.tW-YU:hover /*image*/,
.ziVVa:hover /*video*/,
._2dV8O:hover /*file*/,
._2Zgm-:hover /*voice message*/,
._15Rkh:hover /*position*/,
._2qE0x:hover /*contact share*/,
._2iEEP:hover /*GIF*/,
.Eu2_h:hover /*Sticker*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}

.a81-s /*set pseudo background on sticker*/
{
  background-color: #dcf8c6 !important;
  border-radius: 7.5px !important;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13) !important;
}
