/* mediaGallery */
._2wPfr:hover /*media preview in gallery*/,

/* mediaPreview */
._3fmQw:hover /*image preview*/,
._3KBs6:hover * /*gif preview*/,
.cMrTV:hover ._2IYG6 /*video preview*/,
._1Bw-K:hover /*media reply thumb*/,

/* messages */
.-N6Gq:hover /*normal message*/,
._1jnqn:hover /*Gallery link preview*/,
._1_8_q:hover /*blue info bar*/,
.tW-YU:hover /*image*/,
.ziVVa:hover /*video*/,
._2dV8O:hover /*file*/,
._2Zgm-:hover /*voice message*/,
._15Rkh:hover /*position*/,
._2qE0x:hover /*contact share*/,
._2iEEP:hover /*GIF*/,
.Eu2_h:hover /*Sticker*/,

/* messagesPreview */
._2Bw3Q:hover /*message preview*/,

/* name */
._3H4MS:hover /*List user/group name*/,
._19vo_:hover /*Top user/group name*/,
._3Q3ui:hover /*Top group user preview*/,
._1drsQ:hover /*Details username*/,
._3VvbK:hover /*Details username ~nickname*/,
._3iZHE:hover /*Starred messages username*/,
._3KF1B:hover /*Starred messages groupname*/,
._3FeAD._3jJ43 ._3u328:hover /*Details group name*/,
._5KVVe:hover /*Group description*/,
._2sl9a:hover /*About user*/,
.selectable-text ._6xQdq:hover /*About user phone number*/,
._26ydt:hover /*Media preview user/group name*/,

/* profilePic */
._3RWII:hover /*profile pic*/,
._2XJ_f:hover /*Details profile pic group*/,
._2vJOg:hover /*Details profile pic user*/,
.PU7NO:hover /*Details own profile pic*/
{
  transition-delay: 0.04s !important;
  -webkit-transition-duration: 0s !important;
  -moz-transition-duration: 0s !important;
  -o-transition-duration: 0s !important;
  transition-duration: 0s !important;
}
