*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Work Sans', sans-serif;
  font-size: larger;
  font-weight: 400;
  color: #525252;
}
.accent{
  width: 100%;
  height: 5px;
  background: #34bea5;
}
.content{
  position: relative;
  max-width: 1000px;
  margin: 70px auto 0 auto;
  padding: 10px;
}
.logo{
  position: absolute;
  z-index: -1;
  left: 10px;
  top: -40px;
  max-width: 100px;
  opacity: 0.3;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
h1,h2,h3{
  font-family: 'Source Serif Pro', serif;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0 10px;
  z-index: 99;
}
h2{
  margin-top: 40px;
  margin-bottom: 20px;
}
h3{
  color: black;
  background-color: initial;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}
h3::after{
  content: '';
  display: block;
  position: relative;
  top: -11px;
  width: 100%;
  height: 8px;
  background-color: #dee4e7;
  z-index: -1;
}
a:hover {
  color: #2ebafa;
  text-decoration: underline;
}
a{
  color: #1484b7;
}

p.download{
  color: gray;
  font-size: medium;
  font-style: italic;
  margin-top: 10px;
}
.screenshots{
  max-width: 900px;
  margin: 20px auto;
}
.screenshots::after{
  content: '';
  display: block;
  clear: both;
}
.screenshots img{
  width: 50%;
  display: inline-block;
  float: left;
}
p{
  text-align: justify;
  line-height: 30px;
}
ul{
  margin-top: 15px;
  margin-left: 50px;
}
li{
  line-height: 30px;
}
.install{
  margin-top: 20px;
}
.disclaimer{
  margin-top: 100px;
  color: gray;
  font-style: italic;
  font-size: smaller;
  line-height: normal;
  text-align: center;
}
.legal, .legal a{
  color: #5c636e;
  font-size: small;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
}
.legal a:hover{
  text-decoration: underline;
}
