._2wPfr /*media preview in gallery*/
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

._2wPfr:hover /*media preview in gallery*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
