/* mediaGallery */
body:hover ._2wPfr /*media preview in gallery*/,
body:hover ._2sn3C /*media preview in send media*/,

/* mediaPreview */
body:hover ._18vxA /*image preview*/,
body:hover ._3KBs6 * /*gif preview*/,
body:hover .cMrTV ._2IYG6 /*video preview*/,
body:hover ._1Bw-K /*media reply thumb*/,
body:hover ._3in0k /*image send preview*/,
body:hover ._2k0GR /*file preview*/,

/* messages */
body:hover .-N6Gq /*normal message*/,
body:hover ._1jnqn /*Gallery link preview*/,
body:hover ._1_8_q /*blue info bar*/,
body:hover ._3SaET /*image*/,
body:hover .ziVVa /*video*/,
body:hover ._1BN2j /*file*/,
body:hover ._2Zgm- /*voice message*/,
body:hover ._15Rkh /*position*/,
body:hover ._2qE0x /*contact share*/,
body:hover ._2iEEP /*GIF*/,
body:hover .Eu2_h /*Sticker*/,

/* messagesPreview */
body:hover ._2Bw3Q /*message preview*/,

/* name */
body:hover ._3H4MS /*List user/group name*/,
body:hover ._19vo_ /*Top user/group name*/,
body:hover ._3Q3ui /*Top group user preview*/,
body:hover ._1drsQ /*Details username*/,
body:hover ._3VvbK /*Details username ~nickname*/,
body:hover ._3iZHE /*Starred messages username*/,
body:hover ._3KF1B /*Starred messages groupname*/,
body:hover ._3FeAD._3jJ43 ._3u328 /*Details group name*/,
body:hover ._5KVVe /*Group description*/,
body:hover ._2sl9a /*About user*/,
body:hover .selectable-text ._6xQdq /*About user phone number*/,
body:hover ._26ydt /*Media preview user/group name*/,

/* profilePic */
body:hover ._3RWII /*profile pic*/,
body:hover ._2XJ_f /*Details profile pic group*/,
body:hover ._2vJOg /*Details profile pic user*/,
body:hover .PU7NO /*Details own profile pic*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0s;
}
